.banner{
    width: 100%;
    display: flex;
    background: #e7acac;
    height: 300px;
    
}
.portada img{
    border: 2px solid var(--color-primario);
    height: 300px;
}
.title{
    color: #fff;
    font-weight: bold;
    padding-left:15px;
    padding-top: 10px;
    letter-spacing: 0.7px;
}
.datos{
    display: flex;
    padding-left: 15px;
}
.info__sm{
    color: #555555;
    padding-right: 60px;
}
.seguidores{
    color: var(--color-primario);
    font-weight: bold;
}
.desc{
    padding-left: 15px;
    color: #fff;
}
.botones{
    padding-left: 15px;
}
.botones button{

    margin: 30px 50px 0 0;
    width: 120px;
    border-radius: 20px;
    border: 3px solid var(--color--boton);
}
.btn1{
    background: var(--color--boton);
    color: #fff;
}
.btn2{
    color: var(--color--boton);
    background: #e7acac;
}
.botones i{
    color: #fff;
}

    .resultados h2{
        margin: 15px 0;
    }
    .resultado__img{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 20px;
    }
    .album_name{
        font-weight: bold;
    }
    .album_artist{
        color: gray;
        font-weight: 100;
    }
    .album img{
        width: 150px;
    }

    @media screen and (max-width: 1100px) {
        .botones button{
            position: relative;
            margin-top: -20px;
            width: 120px;
            border-radius: 20px;
            border: 3px solid var(--color--boton);
        }
        
    }
    @media screen and (max-width: 1060px) {
        .botones button{
            position: relative;
            margin-top: -50px;
            width: 80px;
            font-size: 10px;
            border-radius: 20px;
            border: 3px solid var(--color--boton);
        }
        .desc{
            font-size: 15px;
        }
        
    }
    @media screen and (max-width: 1000px) {
        .desc{
            font-size: 10px;
        }
        
    }
    