<div class="row">
    <h2 class="titleP"> TOP METAL </h2>

    <div *ngFor="let metal of metals" 
        class="col-md-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <img src="{{metal.picture_xl}}" alt="{{metal.title}}" class="card-img-top">
                <p class="card-text"> 
                    Album: # {{metal.nb_album}}
                </p>
                <p class="card-text"> 
                    Nombre: {{metal.name}}
                </p>
                
                
            </div>
        </div>
    </div>
</div>
