<div class="row">
    <h2 class="titleP"> ALBUMS MAS VENDIDOS </h2>

    <div *ngFor="let album of albums" 
        class="col-md-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <img src="{{album.picture_xl}}" alt="{{album.title}}" class="card-img-top">
                <p class="card-text"> 
                    Album: # {{album.nb_album}}
                </p>
                <p class="card-text"> 
                    Nombre: {{album.name}}
                </p>
                
                
            </div>
        </div>
    </div>
</div>
